<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="file">Upload File</label>
            <input type="file" name="file" id="file">
        </div>
        <div>
            <button type="submit" value="upload">Upload</button>
        </div>
    </form>
</body>
</html>